form {
    width: 100%; /* Utiliza a largura total do seu contêiner pai */
    max-width: 600px; /* Define a largura máxima para o formulário */
    padding: 2rem; /* Espaçamento interno */
    border-radius: 10px; /* Borda arredondada */
    background-color: #f8f9fa; /* Cor de fundo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 2rem; /* Espaçamento inferior */
    transition: background-color 0.2s; /* Transição suave da cor de fundo */
}
form:hover {
    background-color: #d3d3d360;
}

