.moment {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.moment img {
    max-width: 500px; /* Reduz o tamanho máximo da imagem */
    width: 100%; /* Garante que a imagem não ultrapasse seu container */
    border-radius: 10px;
    box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.227);
    margin-bottom: 1rem; /* Espaçamento inferior */
}

.about-moment {
    margin: 2rem;
}

.about-moment h3 {
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
}

.about-moment p {
    font-size: 1.2rem;
}

.moment h1 {
    font-size: 2rem;
    padding: 1rem;
}

.actions {
    margin: 1rem;
    margin-bottom: 2rem;
}

button fa-icon,
a fa-icon {
    margin-right: 0.5rem;
}

.edit-btn,
.remove-btn {
    border: 1px solid #efefef;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    margin: 0 0.5em;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.4s;
}

.edit-btn:hover {
    background-color: #007bff50;
    color: #293462;
    border-color: #293462;
}

.remove-btn:hover {
    background-color: #dc344590;
    color: #293462;
    border-color: #293462;
}

.comments {
    margin: 2rem;
    width: 50%;
}

.comment-container {
    width: 600px;
    text-align: left;
    border-bottom: 1px solid #efefef;
    padding: 1rem 0;
}

.comment {
    font-size: 1.2rem;
}

.author {
    font-size: 0.8rem;
}

.comment-form {
    margin-bottom: 3em;
}

.comment-form form {
    margin-top: 1em;
    text-align: left;
    max-width: 300px;
    margin-left: 0;
}

.author span {
    font-weight: 600;
}
